@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0; /* Black text */
	--background-start-rgb: 255, 255, 255; /* White background */
	--background-end-rgb: 255, 255, 255; /* Consistent with the start for a solid color */
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255; /* White text for dark mode */
		--background-start-rgb: 0, 0, 0; /* Dark background for dark mode */
		--background-end-rgb: 0, 0, 0; /* Consistent with the start for dark mode */
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}
